
    <footer class="footer">
        <div class="container-fluid">
            <nav>
                <ul class="footer-menu">
                    <li>
                        <a target="_blank" 
                            href="https://appseed.us/admin-dashboards/flask-dashboard-light-bootstrap">
                            Flask Light Bootstrap
                        </a>
                    </li>
                </ul>
                <p class="copyright">
                    &copy; Creative Tim - coded by AppSeed.
                </p>
            </nav>
        </div>
    </footer>
