
    <footer class="footer">
        <div class="container-fluid">
            <nav>
                <ul class="footer-menu">
                    <li>
                        <a target="_blank"
                           href="https://google.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="https://google.com">
                            Pricing
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="https://google.com">
                            Terms & Conditions
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="https://google.com">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
                <p class="copyright">
                    &copy; Weblytics
                </p>
            </nav>
        </div>
    </footer>
