<div class="sidebar" data-image="{{ config.ASSETS_ROOT }}/img/sidebar-5.jpg">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                Flask Light
            </a>
        </div>
        <ul class="nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item nav-item {% if 'index' in segment %} active {% endif %}">
                <a class="nav-link" href="/">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'user' in segment %} active {% endif %}">
                <a class="nav-link" href="/user.html">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'table' in segment %} active {% endif %}">
                <a class="nav-link" href="/table.html">
                    <i class="nc-icon nc-notes"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'typography' in segment %} active {% endif %}">
                <a class="nav-link" href="/typography.html">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'icons' in segment %} active {% endif %}">
                <a class="nav-link" href="/icons.html">
                    <i class="nc-icon nc-atom"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'maps' in segment %} active {% endif %}">
                <a class="nav-link" href="/maps.html">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if 'notif' in segment %} active {% endif %}">
                <a class="nav-link" href="/notifications.html">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item nav-item {% if '404' in segment %} active {% endif %}">
                <a class="nav-link" href="/page-404.html">
                    <i class="nc-icon nc-settings-gear-64"></i>
                    <p>Error 404</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('authentication_blueprint.logout') }}">
                    <i class="nc-icon nc-button-power"></i>
                    <p>Logout</p>
                </a>
            </li>
            
            <li class="nav-item active active-pro">
                <a class="nav-link active" target="_blank" 
                   href="https://appseed.us/support/">
                    <i class="nc-icon nc-spaceship"></i>
                    <p>Support</p>
                </a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link active" target="_blank" 
                   href="https://appseed.us/support/">
                    <i class="nc-icon nc-spaceship"></i>
                    <p>Support</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
