{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Register</h4>
                            Add your credentials 
                        </div>

                        <br />
                        <div class="card-body">

                            <form method="" action="/">
                                
                                <div class="row">

                                    <div class="col-md-1 px-1">
                                        <div class="form-group">
                                            <label>Username</label>
                                        </div>
                                    </div>

                                    <div class="col-md-5 px-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Username" value="">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-1 px-1">
                                        <div class="form-group">
                                            <label>eMail</label>
                                        </div>
                                    </div>

                                    <div class="col-md-5 px-1">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email" value="">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-1 pl-1">
                                        <div class="form-group">
                                            <label>Password</label>
                                        </div>
                                    </div>

                                    <div class="col-md-5 pl-1">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password" value="">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-1 pl-1"></div>

                                    <div class="col-md-5 pl-1">
                                        <button name="register" type="submit" class="btn btn-info btn-fill">Register</button>

                                        &nbsp; &nbsp; Have an account? <a href="/login.html" >Login</a>
                                        <div class="clearfix"></div>                                        
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
