<div class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Login</h4>

                        {% if msg %}
                            <p>{{ msg | safe }}</p>
                        {% endif %}
                    </div>

                    <div class="card-body">
                        <form method="post" action="">
                            
                            {{ form.hidden_tag() }}

                            <div class="row">

                                <div class="col-md-1 px-1">
                                    <div class="form-group">
                                        <label>Username</label>
                                    </div>
                                </div>

                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        {{ form.username(placeholder="Username") }}
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-1 px-1">
                                    <div class="form-group">
                                        <label>eMail</label>
                                    </div>
                                </div>

                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        {{ form.email(placeholder="eMail") }}
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-1 pl-1">
                                    <div class="form-group">
                                        <label>Password</label>
                                    </div>
                                </div>

                                <div class="col-md-3 pl-1">
                                    <div class="form-group">
                                        {{ form.password(placeholder="Password") }}
                                    </div>
                                </div>

                            </div>

                            <input type='submit' name='submit' value='Register' class="primary"/> 
                            &nbsp; &nbsp; Have an account? <a href={{ url_for('login') }} >Login</a>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
            