<div class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Login</h4>

                        {% if msg %}
                            <p>{{ msg | safe }}</p>
                        {% endif %}
                    </div>

                    <div class="card-body">
                        <form method="post" action="">
                            
                            {{ form.hidden_tag() }}

                            <div class="row">

                                <div class="col-md-1 px-1">
                                    <div class="form-group">
                                        <label>Username</label>
                                    </div>
                                </div>

                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        {{ form.username(placeholder="Username") }}
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-1 px-1">
                                    <div class="form-group">
                                        <label>eMail</label>
                                    </div>
                                </div>

                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        {{ form.email(placeholder="eMail") }}
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-1 pl-1">
                                    <div class="form-group">
                                        <label>Password</label>
                                    </div>
                                </div>

                                <div class="col-md-3 pl-1">
                                    <div class="form-group">
                                        {{ form.password(placeholder="Password") }}
                                    </div>
                                </div>

                            </div>

                            <input type='submit' name='submit' value='Register' class="primary"/> or or <a href={{ url_for('register') }}>Register</a>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="card-image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="/static/assets/img/faces/face-3.jpg" alt="...">
                                <h5 class="title">Mike Andrew</h5>
                            </a>
                            <p class="description">
                                michael24
                            </p>
                        </div>
                        <p class="description text-center">
                            "Lamborghini Mercy
                            <br> Your chick she so thirsty
                            <br> I'm in that two seat Lambo"
                        </p>
                    </div>
                    <hr>
                    <div class="button-container mr-auto ml-auto">
                        <button href="#" class="btn btn-simple btn-link btn-icon">
                            <i class="fa fa-facebook-square"></i>
                        </button>
                        <button href="#" class="btn btn-simple btn-link btn-icon">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button href="#" class="btn btn-simple btn-link btn-icon">
                            <i class="fa fa-google-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
            