{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- html goes here -->
<!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    .main-panel {
        background-color: #F0F8FF;
    }
</style>


<!-- Custom styles for this template -->

<div class="cover-container d-flex w-100 h-flex p-3 mx-auto flex-column">


    <main class="px-3">
        <h1>Unleash the Power of Data</h1>
        <p class="lead">Uncover Trends, Sentiments, and Insights from Social Media and News Sources with AI-Driven Web Analytics</p>
       
    </main>

    <div class="b-example-divider"></div>

  
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">

            <img class="icons" id="data-discovery" src="{{ config.ASSETS_ROOT }}/img/data-discovery.ico">

            <h2>Insightful Discovery</h2>
            <p>Unlock valuable insights from the digital landscape. Discover trends, sentiments, and consumer behavior across social media platforms and news sources with our comprehensive web analytics tools.</p>
            
        </div>

        <div class="feature col">
            <img class="icons" id="data-discovery" src="{{ config.ASSETS_ROOT }}/img/charts.ico">
            <h2>Data-Driven Advantage</h2>
            <p>Harness the power of big data to drive your success. Leverage our cutting-edge web analytics technology to extract actionable intelligence from diverse sources, empowering you to make informed business decisions and optimize your online presence.</p>
           
        </div>
        <div class="feature col">
            <img class="icons" id="data-discovery" src="{{ config.ASSETS_ROOT }}/img/development.ico">
            <h2>Empowering Analytics</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
           
        </div>

       
        <div class="b-example-divider"></div>

        <div class="container my-5">
            <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                    <h1 class="display-4 fw-bold lh-1">Unlock the Power of Data-Driven Success</h1>
                    <p class="lead">Ready to unlock the full potential of your data? Take your web analytics to the next level with our cutting-edge solutions. Try it and discover for yourself how we can help you gain valuable insights, make data-driven decisions, and drive your business forward.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Try it free</button>
                        
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                    <img class="rounded-lg-3" src="https://picsum.photos/id/237/200/300" alt="" width="320">
                </div>
            </div>
        </div>

    </div>


</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.showNotification();

    });
</script>

{% endblock javascripts %}
