{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
    </symbol>
</svg>

<div class="container py-3">
    <header>
       
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Unlock Limitless Insights with Our Premium Subscriptions</h1>
            <p class="fs-5 text-muted">Elevate your data-driven decisions with our Premium Subscription, unlocking personalized emailed updates, favorite trending topics, and powerful features like Predictive Analytics, Advanced Data Visualization and data exporting. </p>
        </div>
    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Free</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Access to Weblytics</li>
                            <li>No sign-up!</li>                           
                            <li>Always free!</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="window.location.href = '/table.html';">Try it now</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3  text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Premium</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$20<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Data integration and export</li>
                            <li>Advanced data visualization</li>
                            <li>personalized emailed updates </li>
                            <li>Predictive analytics </li>
                            <li>Priority email support</li>
                        </ul>


                        <button type="button" class="w-100 btn btn-lg btn-primary" onclick="window.location.href = '/checkout.html';">Get started</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm ">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Enterprise</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$300<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>API access</li>
                            <li>Automate your analytics</li>
                            <li>Full access to public data</li>
                            <li>All premium bonuses</li>
                        </ul>
                       
                            <button type="button" class="w-100 btn btn-lg btn-primary" onclick="window.location.href = '/apply.html';">Apply here</button>
                       
                    </div>
                </div>
            </div>
        </div>

        <h2 class="display-6 text-center mb-4">Compare plans</h2>

        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="width: 34%;"></th>
                        <th style="width: 22%;">Free</th>
                        <th style="width: 22%;">Pro</th>
                        <th style="width: 22%;">Enterprise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Trending Data</th>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Email Support</th>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Data Integration / Export</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>


                    <tr>
                        <th scope="row" class="text-start">Advanced Data Visualization</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Personalized Email Updates</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Predictive Analytics</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Access to Future Features</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">API Access</th>
                        <td></td>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

       
</div>


<!-- html goes here -->
    {% endblock content %}
<!-- Specific Page JS goes HERE  -->
    {% block javascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.showNotification();

    });
</script>

    {% endblock javascripts %}
