{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}


<div class="cover-container d-flex w-100 h-flex p-3 mx-auto flex-column">




    <h1>Privacy Policy</h1>

    <p>Protecting your private information is our priority. This Statement of Privacy applies to Weblytics.com, and Weblytics and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Weblytics include Weblytics.com. The Weblytics website is a Weblytics collects public data from social media posts and news articles and provides research analytics for free to its users. site. By using the Weblytics website, you consent to the data practices described in this statement.</p>

    <h2>Collection of your Personal Information</h2>

    <p>In order to better provide you with products and services offered, Weblytics may collect personally identifiable information, such as your:</p>

    <ul>
        <li>First and Last Name</li>
        <li>Mailing Address</li>
        <li>E-mail Address</li>
        <li>Job Title</li>
    </ul>

    <p>We do not collect any personal information about you unless you voluntarily provide it to us. However, you may be required to provide certain personal information to us when you elect to use certain products or services. These may include: (a) registering for an account; (b) entering a sweepstakes or contest sponsored by us or one of our partners; (c) signing up for special offers from selected third parties; (d) sending us an email message; (e) submitting your credit card or other payment information when ordering and purchasing products and services. To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or products you have requested from us. We also may gather additional personal or non-personal information in the future.</p>

    <!-- Add the remaining sections of the privacy policy here -->

    <h2>Contact Information</h2>

    <p>Weblytics welcomes your questions or comments regarding this Statement of Privacy. If you believe that Weblytics has not adhered to this Statement, please contact Weblytics at:</p>

    <p>
        Weblytics<br>
        north branch, Michigan 48461<br>
        Email Address: weblytics@gmail.com<br>

    </p>

    <p>Effective as of July 13, 2023</p>

</div>

<!-- html goes here -->
    {% endblock content %}
<!-- Specific Page JS goes HERE  -->
    {% block javascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.showNotification();

    });
</script>

    {% endblock javascripts %}

