
    <footer class="footer">
        <div class="container-fluid">
            <nav>
                <ul class="footer-menu">
                    <li>
                        <a target="_blank" 
                            href="https://appseed.us/admin-dashboards/flask-dashboard-light-bootstrap">
                            Product
                        </a>
                    </li>
                    <li>
                        <a target="_blank" 
                            href="https://docs.appseed.us/admin-dashboards/flask-dashboard-light/">
                            Documentation
                        </a>
                    </li>
                    <li>
                        <a target="_blank" 
                            href="https://github.com/app-generator/flask-dashboard-light-bootstrap/">
                            Sources
                        </a>
                    </li>
                </ul>
                <p class="copyright text-center">
                    &copy; 
                    <a target="_blank" href="https://www.creative-tim.com">Creative Tim</a> 
                    - coded by <a target="_blank" href="https://appseed.us">AppSeed</a> 
                </p>
            </nav>
        </div>
    </footer>
