
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="https://github.com/app-generator/flask-dashboard-light-bootstrap">
                                    Sources
                                </a>
                            </li>
                            <li>
                                <a href="https://blog.appseed.us/light-dashboard-open-source-flask-dashboard">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="https://appseed.us/apps/flask-apps">
                                    Flask Apps
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://www.creative-tim.com">Creative Tim</a>, 
                            Coded in <a href="http://flask.pocoo.org/">Flask</a> by <a href="https://appseed.us">AppSeed</a>
                        </p>
                    </nav>
                </div>
            </footer>

