
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">

                            <li>
                                <a href="https://appseed.us">
                                    AppSeed
                                </a>
                            </li>
                            
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="https://www.creative-tim.com/product/light-bootstrap-dashboard">Creative Tim</a>, 
                            Coded in <a href="http://flask.pocoo.org/">Flask</a>
                        </p>
                    </nav>
                </div>
            </footer>

