
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">

                            <li>
                                <a href="https://appseed.us/admin-dashboards/flask-dashboard-light-pro">
                                    PRO Version
                                </a>
                            </li>

                        </ul>
                        <p class="copyright text-center">
                            &copy; <a href="https://www.creative-tim.com">Creative-Tim</a> - coded by <a href="https://appseed.us/">AppSeed</a>
                        </p>
                    </nav>
                </div>
            </footer>

